@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Lavishly+Yours&display=swap');

:root {
    --thistle: #cdb4dbff;
    --fairy-tale: #ffc8ddff;
    --carnation-pink: #ffafccff;
    --uranian-blue: #bde0feff;
    --light-sky-blue: #a2d2ffff;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    /* background: url(#);
    background-attachment: fixed; */
}

.kontainer {
    margin: 20px auto;
    background-color: var(--thistle);
    width: 700px;
    margin-bottom: 300px;
    margin-top: 25px;

}

h1 {
    font-family: "Lavishly Yours", cursive;
    font-size: 35px;
    text-align: center;
}

.intro {
    font-family: "Hurricane", cursive;
    text-align: center;
}

.box {
    font-family: "Hurricane", cursive;
    font-size: 20px;
    background-color: var(--carnation-pink);
    display: flex;
    width: 300px;
    gap: 15px;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    height: 200px;
}

.text {
    font-size: 15;
    margin-right: 130px;
    line-height: 1.5;
}

img {
    width: 30%;
    border: 10px solid black;
    border-radius: 4px;

}

.bigbox {
    display: flex;
    gap: 20px;
    margin: 20px auto;

}

.kalla {
    text-align: center;
}